# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
/src/_ReSharper.geschikt

*.user
*.suo
/nuget/lib
/src/Backup
/src/UpgradeLog*.htm
/TestResult.xml
/coverage.xml
/cc.bat

/Tools/coveralls.net.0.7.0 
/Tools/Microsoft.NETCore.Platforms.1.0.1 
/Tools/Microsoft.Win32.Primitives.4.0.1 
/Tools/NETStandard.Library.1.6.0 
/Tools/NUnit.3.6.1 
/Tools/OpenCover.4.6.519 
/Tools/System.AppContext.4.1.0 
/Tools/System.Collections.4.0.11 
/Tools/System.Collections.Concurrent.4.0.12 
/Tools/System.Console.4.0.0 
/Tools/System.Diagnostics.Debug.4.0.11 
/Tools/System.Diagnostics.DiagnosticSource.4.0.0 
/Tools/System.Diagnostics.Tools.4.0.1 
/Tools/System.Diagnostics.Tracing.4.1.0 
/Tools/System.Globalization.4.0.11 
/Tools/System.Globalization.Calendars.4.0.1 
/Tools/System.IO.4.1.0 
/Tools/System.IO.Compression.4.1.0 
/Tools/System.IO.Compression.ZipFile.4.0.1 
/Tools/System.IO.FileSystem.4.0.1 
/Tools/System.IO.FileSystem.Primitives.4.0.1 
/Tools/System.Linq.4.1.0 
/Tools/System.Linq.Expressions.4.1.0 
/Tools/System.Net.Http.4.1.0 
/Tools/System.Net.Primitives.4.0.11 
/Tools/System.Net.Sockets.4.1.0 
/Tools/System.ObjectModel.4.0.12 
/Tools/System.Reflection.4.1.0 
/Tools/System.Reflection.Extensions.4.0.1 
/Tools/System.Reflection.Primitives.4.0.1 
/Tools/System.Resources.ResourceManager.4.0.1 
/Tools/System.Runtime.4.1.0 
/Tools/System.Runtime.Extensions.4.1.0 
/Tools/System.Runtime.Handles.4.0.1 
/Tools/System.Runtime.InteropServices.4.1.0 
/Tools/System.Runtime.InteropServices.RuntimeInformation.4.0.0 
/Tools/System.Runtime.Loader.4.0.0 
/Tools/System.Runtime.Numerics.4.0.1 
/Tools/System.Security.Cryptography.Algorithms.4.2.0 
/Tools/System.Security.Cryptography.Encoding.4.0.0 
/Tools/System.Security.Cryptography.Primitives.4.0.0 
/Tools/System.Security.Cryptography.X509Certificates.4.1.0 
/Tools/System.Text.Encoding.4.0.11 
/Tools/System.Text.Encoding.Extensions.4.0.11 
/Tools/System.Text.RegularExpressions.4.1.0 
/Tools/System.Threading.4.0.11 
/Tools/System.Threading.Tasks.4.0.11 
/Tools/System.Threading.Timer.4.0.1 
/Tools/System.Xml.ReaderWriter.4.0.11 
/Tools/System.Xml.XDocument.4.0.11 
